:root{
    --w:150px;
    --h:120px;
}
*{box-sizing:border-box}
body{
    font-family:system-ui,Arial; text-align:center; padding:32px;
background: #FEAC5E;
background: -webkit-linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);
background: linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E); 

    margin: 0;
    overflow-x: hidden;
}

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

h1{
    font-family: 'Pacifico', cursive;
    font-size: 10rem;
    color: brown;
}
.regalos{display:flex;gap:28px;justify-content:center;align-items:flex-end}

/* contenedor del regalo */
.regalo{
    position:relative;
    perspective:100%;
    cursor:pointer; 
    transition:transform .28s;
}


/* caja interna para 3D */
.box{ width:var(--w); height:var(--h); position:relative}

.lid{
    position:absolute; top:-4rem; left:0; width:var(--w); transform-origin:top center;
    transition:transform .6s cubic-bezier(.2,.8,.2,1), box-shadow .2s;
    pointer-events:none;
}
.lid img{ width: 100%; height:100%; object-fit:cover; display:block}


/* premio oculto */
.premio{
  display:none; 
  position:absolute; 
  color:rgb(148, 13, 13);
  font-size: x-large;
  font-family: 'Pacifico', cursive;
  font-weight: bold;
  white-space:nowrap;
  animation: jackInTheBox;
  animation-duration: 3s;
}

  /* estado abierto: trayéndolo al frente, tapa abierta y premio visible */
/* .regalo.abierto{ transform:translateY(8rem) scale(1.06); z-index:1000; } */
.regalo.abierto .lid{width: 150%;}
.regalo.abierto .lid img {
  content: url("img/regaloAbierto.png");
}

.regalo.abierto .box[data-index="0"] .lid img {
  transform:translateY(20%) translateX(65%);
}

.regalo.abierto .box[data-index="1"] .lid img {
  transform:translateY(20%) translateX(-20%);
}

.regalo.abierto .box[data-index="2"] .lid img {
  transform:translateY(20%) translateX(-100%);
}

.regalo.abierto .box[data-index="0"] .premio{
  top:13.5rem; left:5rem;
}

.regalo.abierto .box[data-index="1"] .premio{
  top:13.5rem; left:-7rem;
}

.regalo.abierto .box[data-index="2"] .premio{
  top:13.5rem; left:-18rem;
}

.regalo.abierto .premio{ display:block; } 

.modo-foco .regalo:not(.abierto) {
  opacity: 0.3;
  filter: blur(2px);
  pointer-events: none; /* evita que se puedan clicar */
  transition: all 0.3s ease;
}

.regalo.abierto {
  opacity: 1;
  filter: none;
  pointer-events: auto;
}

.regalo.abierto h1 {
  animation: bounce;
  animation-duration: 2s;
}

/* hover ligero */
.regalo:hover{ transform:translateY(-6px); }

@media (max-width: 600px) {
  .lid img {
    max-width: 60%;
    height: auto;
  }

  .box {
    width: 100px;
    height: 96px;
  }

  .conteiner {
    width: 100%;
    max-width: 370px;
    margin: auto;
  }

  .premio{
    font-size: large;
  }

  .regalo.abierto .lid{width: 200%;}

  .regalo.abierto .box[data-index="0"] .lid img {
  transform:translateY(20%) translateX(100%);
  }

  .regalo.abierto .box[data-index="1"] .lid img {
    transform:translateY(20%) translateX(-20%);
  }

  .regalo.abierto .box[data-index="2"] .lid img {
    transform:translateY(20%) translateX(-120%);
  }

  .regalo.abierto .box[data-index="0"] .premio{
    top:6rem; left:1rem;
  }

  .regalo.abierto .box[data-index="1"] .premio{
    top:6rem; left:-7rem;
  }

  .regalo.abierto .box[data-index="2"] .premio{
    top:6rem; left:-15.5rem;
  }
}
